<main class="container">
<%= if live_flash(@flash, :info) do %>
  <Components.Flash.message level="info" message={live_flash(@flash, :info)} />
<% end %>

<%= if live_flash(@flash, :error) do %>
  <Components.Flash.message level="error" message={live_flash(@flash, :error)} />
<% end %>

  <%= @inner_content %>
</main>
