<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "Phone Your Rep" %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu+Mono:wght@700&display=swap" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script src={"https://maps.googleapis.com/maps/api/js?key=#{Pyrex.config([:google_places_api_key])}&libraries=geometry,places"}></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <%= if Pyrex.config([:env]) == :prod and Pyrex.config([PyrexWeb, :plausible_analytics]) do %>
      <script defer data-domain={Pyrex.config([PyrexWeb.Endpoint, :url, :host])} src="https://plausible.io/js/plausible.js"></script>
    <% end %>
  </head>
  <body class="h-full">
    <Components.App.layout {assigns}>
      <%= @inner_content %>
    </Components.App.layout>
  </body>
</html>
